
$font-mono: 400 1em/1.2em 'Anonymous Pro', monospace;
$font-helv: 400 1em/1.2em 'Helvetica', sans-serif;
$black: #010101;
$black_0: lighten($black, 10%);
$black_1: lighten($black, 15%);
$black_2: lighten($black, 20%);
$white: #e0e0e0;
$white_0: darken($white, 10%);
$white_1: darken($white, 15%);
$white_2: darken($white, 20%);
$medGray: #666;
$red: #f55;
$green: #5f5;
$blue: #55f;

$bg: $black;
$bg_1: $black_1;
$bg_1: $black_2;
$fg: $white;
$fg_1: $white_1;
$fg_1: $white_2;


* {
	letter-spacing: .05em;
	transition: padding 400ms ease, background 0ms ease;
}

body {
	background: $black;
	color: $white;

	& * { font: $font-mono; }

	&.font-mono * { 	font: $font-mono; }
	&.font-helv * { 	font: $font-helv; }

	&.theme-light {
		background: $white;
		* { color: $black; }
		.style-button:hover {
			color: $black;
		}
		.Todo-App {
			background-color: $white;
			border-color: $black;
			a { color: $black; }
		}
		.Header { background-color: $white_0; }
		.style-button { background-color: $white_1; }
		.App-Node {
			background: $white;
			.App-Input:focus { background-color: $white_1; }
			.status-button {
				border-color: $black;
				&:after { border-color: $black;}
			}
		}
		.App-Button {
			border-color: $black;
			&:hover { background-color: $white_2; }
		}
		.App-List {
			border-color: $white_2;
		}
	}
	&.theme-dark {
		background: $black;
		color: $white;
	}




	.App-Node {
		.expand-button {
			color: $medGray;
			&:hover { color: $red; }
		}
		.status-button { color: $medGray; }
	}
}

.App {
	text-align: center;
}

.logo {
	animation: App-logo-spin infinite 2500ms ease;
	height: 50px;
}

.Header {
	background-color: $black_0;
	padding: 20px;
	position: relative;
	h2 {
		display: inline-block;
		position: relative;
		.logo {
			position: absolute;
			top: 50%;
			right: 100%;
			// transform: translateX(-50%); // not working...?
			margin-top: -1em;
		}
	}
	* { color: $white; }
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(1080deg); }
}

.theme-button {
	font-size: 0.7em;
	color: $medGray;
	display: inline-block;
	padding: .5em;
	margin: .25em;
	background-color: $black_1;
	border-radius: 3px;
	cursor: pointer;
	&:hover {
		color: $white;
	}
}

.Todo-App {
	padding: 1em;
	margin: 1em;
	// display: inline-block;
	// text-align: left;
	background-color: $black;
	text-align: center;
	border: solid 2px $white;
	border-radius: 1em;

	a {
		color: $white;
		text-decoration: none;
	}
}

.App-List {
	border-left: solid 1px $black_2;
	padding-left: 1.25em;
}
.Todo-App > .App-List {
	border-left: none;
	padding-left: 0;
}
	.App-Node {
		background-color: $black;
		width: 100%;
		max-width: 40em;
		margin: 0 auto;
		text-align: left;
		position: relative;
		// min-height: 3em;
		
		.expand-button {
			color: $medGray;
			display: inline-block;
			position: absolute;
			transform: translate(-3px,25%);
			&:hover {
				color: $red;
			}
			.child-count {
				position: absolute;
				font-size: 0.8em;
			}
		}

		.status-button {
			width: 1.5em;
			height: 1.5em;
			border: solid .15em $white;
			color: $medGray;
			display: inline-block;
			position: absolute;
			left: 100%;
			top: 0;
			border-radius: 15%;
			transform: translate(0%,0%);
			box-sizing: border-box;
			cursor: pointer;
			&:after {
				content: '';
				position: absolute;
				top: 50%; left: 50%;
				transform: translate(-50%,-50%);
				border-radius: 50%;
				transition: all 200ms ease;
				border: solid 0.2em $white;
				width: 0.5em;
				height: 0.5em;
			}
		}
		.status-button.default {
			&:after {
				display: none;
			}
		}
		.status-button.open {
			border-color: $blue;
			border-width: 0.25em;
			&:after {
				display: none;
			}
		}
		.status-button.closed {
			// border-color: $red;
			cursor: default;
			&:after {
				display: none;
			}
			&:before {
				content: '';
				position: absolute;
				width: .225em;
				border-radius: 20px;
				height: 100%;
				top: 50%; left: 50%;
				transform: translate(-50%,-50%) rotate(45deg);
				background: $red;
			}
		}

		.status-button.complete {
			&:after {
				border-color: $green;
			}
		}

		.status-button.disabled {
			display: none;
		}
		
		.App-Input {
			min-height: 1.2em;
			outline: none;
			padding: 0.2em 0.5em;
			line-height: 1.2em;
			margin: 0 0.5em;
			text-align: left;
			display: block;
			// display: inline-block;
			&:focus {
				background-color: $black_1;
			}

			&.open { color: $blue; }
			&.complete { color: $green; }
			&.closed { color: $red; }
			&.disabled { color: $medGray; }
		}
	}
// }

.App-Button {
	display: inline-block;
	padding: 0.5em;
	margin: 0 0.5em;
	border: solid 2px $white;
	border-radius: 1em;
	width: 10em;
	overflow: hidden;
	a { color: $blue; }
	&:hover {
		background: $black_2;
		// padding: .75em;
	}
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

.error {
	color: red;
	position: absolute;
}

.success {
	color: $blue;
	position: absolute;
}

li span.delete-item {
	visibility: hidden;
}

span.delete-item a {
	text-decoration: none;
	color: red;
}

li:hover span.delete-item {
	visibility: visible;
}

.Footer {
	// text-align: center;
}

.Footer a {
	padding: 0 2px;
}

.Footer a.active {
	font-weight: bold;
}